:root {
  --primery-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --font-color: #2E2F42;
  --white-color: #ffffff;
  --dark-white-color:#F4F4FD;
  --violet-color: #4d5ae5;
  --dark-violet-color: #404bbf;
  --secondary-font-color: #434455;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.button {
  border: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--secondary-font-color);
  background-color: var(--white-color);
}

.logo {
  color: var(--violet-color);
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-family: var(--secondary-font);
  
}

.logo-header {
  color:var(--font-color);
}

.logo-footer {
  color: var(--dark-white-color);
}

.menu-link {
  color: var(--font-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.menu-link:hover,
.menu-link:focus {
  color: var(--dark-violet-color);
}

/* .contact {
  font-style: normal;
}

.contact-list {
  font-style: normal;
} */

.contack-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color:var(--secondary-font-color);
}

.contack-link:hover,
.contack-link:focus {
  color: var(--dark-violet-color);
}

.hero {
  background-color: var(--font-color);
}

.hero-title {
  font-size: 56px;
  text-align: center;
  color:var(--white-color);
  line-height: 1.07;
  letter-spacing: 0.02em;

}

.hero-btn {
  background-color: var(--violet-color);
  color: var(--white-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--dark-violet-color);
}


.info-item-title {
  color: var(--font-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.info-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-font-color);
}

.about-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--font-color);
  text-transform: capitalize;
}

.team {
  background-color: var(--dark-white-color);
}

.team-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--font-color);
  text-align: center;
  text-transform: capitalize;
}

.team-item {
  background-color: var(--white-color);
}

.team-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--font-color);
}

.team-position {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-font-color);
}

.footer {
  background-color: var(--font-color);
}

.footer-text {
font-size: 16px;
list-style: 1.5;
letter-spacing: 0.02em;
color: var(--white-color);
}

.filter-btn {
  font-family: "Roboto", sans-serif;
  background-color: var(--dark-white-color);
  color: var(--violet-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  cursor: pointer;
  border: 1px solid #E7E9FC;
  border-radius: 4px;
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--white-color);
  background-color: var(--dark-violet-color);
  border: none;
}

.portfolio-heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--font-color);
}

.portfolio-text {
  font-size: 16px;
  letter-spacing: 0.02em;
  color: var(--secondary-font-color);
  line-height: 1.5;
}